<div class="not-found-bg">
    <div class="text-center">
        <div class="error404-font top-padding-lg">404</div>
        <div class="bottom-padding-sm">
            <h2>Ooopps!
                <br>The workout couldn't be found
                <br>Focus and go train harder
            </h2>
        </div>
        <div class="top-padding-lg bottom-padding-lg">
            <a [routerLink]="['/']" ><h2>Go home</h2></a></div>
        </div>
</div>