<nav-component></nav-component>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!--Top header-->
    <div class="pull-right">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#updateBodyModal" (click)="clean()" >{{'body.form.button.update' | translate}}</button>
    </div>
    <h1 class="page-header"><i class="fa fa-heartbeat fa-lg fa-fw"></i>{{'menuitem.mybody' | translate}}</h1>

    <div class="top-margin-sm row">

        <div class="col-lg-4">
            <div class="text-center">
                <img class="bottom-padding-sm" src="images/mybody.png" width="45%">
            </div>
        </div>

        <div class="col-lg-6">

            <div class="row">
                <div class="col-lg-5">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h3>{{'body.modal.weight' | translate}}</h3>
                        </div>
                        <div class="ibox-content text-center">
                            <h1 class="no-margins font-size-50">{{model.weight}} Kg</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h3>{{'body.modal.height' | translate}}</h3>
                        </div>
                        <div class="ibox-content text-center">
                            <h1 class="no-margins font-size-50">{{model.height}} m</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h3>{{'body.modal.fat' | translate}}</h3>
                        </div>
                        <div class="ibox-content text-center">
                            <h1 class="no-margins font-size-50">{{model.fat}} %</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h3>{{'body.modal.muscle' | translate}}</h3>
                        </div>
                        <div class="ibox-content text-center">
                            <h1 class="no-margins font-size-50">{{model.muscle}} %</h1>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Update Modal -->
    <div class="modal fade" role="dialog" id="updateBodyModal" #updateBodyModal>
        <form class="modal-dialog" >

            <!-- Modal content-->
            <div class="modal-content right-padding-sm left-padding-sm" [hidden]="hideModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{'body.form.button.update' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger fade in" [hidden]="error.length==0">
                        {{error | translate}}
                    </div>
                    <div class="form-group">
                        <label for="weight">{{'body.modal.weight' | translate}}</label>
                            <input type="number" class="form-control" id="weight" name="weight" placeholder="{{'body.modal.weight' | translate}}" [(ngModel)]="model.weight" step="0.10">
                    </div>
                    <div class="form-group">
                        <label for="height">{{'body.modal.height' | translate}}</label>
                        <input type="number" class="form-control" id="height" name="height" placeholder="{{'body.modal.height' | translate}}" [(ngModel)]="model.height" step="0.10">
                    </div>
                    <div class="form-group">
                        <label for="fat">{{'body.modal.fat' | translate}}</label>
                        <input type="number" class="form-control" id="fat" name="fat" placeholder="{{'body.modal.fat' | translate}}" [(ngModel)]="model.fat" step="0.10">
                    </div>
                    <div class="form-group">
                        <label for="muscle">{{'body.modal.muscle' | translate}}</label>
                        <input type="number" class="form-control" id="muscle" name="muscle" placeholder="{{'body.modal.muscle' | translate}}" [(ngModel)]="model.muscle" step="0.10">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="update()">{{'general.form.button.update' | translate}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'general.form.button.cancel' | translate}}</button>
                </div>
            </div>

            <div class="alert alert-success fade in" [hidden]="!success">
                {{'body.msg.success' | translate}}
            </div>

        </form>
    </div>

</div>