<nav-component></nav-component>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!--Top header-->
    <div class="pull-right">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createActivityModal"  >{{'activity.form.button.create' | translate}}</button>
    </div>
    <h1 class="page-header"><i class="fa fa-bookmark fa-lg fa-fw icon-margin"></i>{{'menuitem.activities' | translate}}</h1>

    <!--Page content-->
    <div class="top-margin-sm row">

        <section [hidden]="activities.length!=0" class="text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{'activity.msg.emptyactivity.title' | translate}}</h1>
                <p class="lead text-muted">{{'activity.msg.emptyactivity.content' | translate}}</p>
            </div>
        </section>

        <div class="padding-workout" *ngFor="let activity of activities">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="top-margin-workout pull-right">
                        <a><i class="fa fa-info-circle fa-lg fa-fw icon-margin cursor-pointer"></i></a>
                        <a data-toggle="modal" data-target="#createActivityModal" (click)="getActivity(activity.id)"><i class="fa fa-pencil fa-lg fa-fw icon-margin cursor-pointer"></i></a>
                        <a data-toggle="modal" data-target="#deleteActivityModal" (click)="setActivityID(activity.id)"><i class="fa fa-trash fa-lg fa-fw icon-margin cursor-pointer"></i></a>
                    </div>
                    <div class="top-margin-workout-img pull-left">
                        <img class="img-circle right-margin-micro" src="images/activity.png" width="40px">
                    </div>
                    <h3>{{activity.name}}</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3>{{'activity.modal.muscle' | translate}}</h3>
                            <h4>{{'activity.modal.muscle.'+activity.muscle | translate}}</h4>
                        </div>
                        <div class="col-sm-5">
                            <h3>{{'activity.modal.description' | translate}}</h3>
                            <p>{{activity.description}}</p>
                        </div>
                        <div class="col-sm-3">
                            <h3>{{'activity.modal.duration' | translate}}</h3>
                            <h4>{{activity.duration}} {{activity.durationUom}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Create/Update Modal -->
    <div class="modal fade" role="dialog" id="createActivityModal" #createActivityModal>
        <form class="modal-dialog" #activityForm="ngForm">

            <!-- Modal content-->
            <div class="modal-content right-padding-sm left-padding-sm" [hidden]="hideModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{'activity.form.button.'+modalTitle | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger fade in" [hidden]="error.length==0">
                        {{error | translate}}
                    </div>
                    <div class="form-group">
                        <label for="name">{{'activity.modal.name' | translate}}</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="{{'activity.modal.name' | translate}}" required [(ngModel)]="model.name">
                    </div>
                    <div class="form-group">
                        <label for="description">{{'activity.modal.description' | translate}}</label>
                        <textarea rows="3" class="form-control" id="description" name="description" placeholder="{{'activity.modal.description' | translate}}" required [(ngModel)]="model.description"></textarea>
                    </div>
                    <div class="form-group"><!--muscle categories -->
                        <label for="muscles">{{'activity.modal.muscle' | translate}}</label>
                        <select class="form-control" id="muscles" name="muscles" required [(ngModel)]="model.muscle">
                            <option *ngFor="let muscle of muscleList" [value]="muscle">{{'activity.modal.muscle.'+muscle | translate}}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="createActivity()" [disabled]="activityForm.invalid">{{'general.form.button.'+modalTitle | translate}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'general.form.button.cancel' | translate}}</button>
                </div>
            </div>

            <div class="alert alert-success fade in" [hidden]="!success">
                {{'activity.msg.'+alertMsg | translate}}
            </div>

        </form>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" role="dialog" id="deleteActivityModal" #deleteActivityModal>
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{'activity.modal.delete.confirmation' | translate}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteActivity()">{{'general.yes' | translate}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'general.form.button.cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

</div>