<div class="container signin">

    <form class="form-signin" (submit)="login($event, username.value, password.value, rememberMe.checked)">
        <div class="text-center">
            <img class="bottom-padding-sm" src="images/logo.png">
        </div>
        <div class="text-center">
            <h2 class="form-signin-heading">{{'signin.form.title' | translate}}</h2>
        </div>
        <input #username type="text" id="username" class="form-control" placeholder="{{'signin.form.username' | translate}}" required autofocus>
        <input #password type="password" id="password" class="form-control" placeholder="{{'signin.form.password' | translate}}" required>
        <div class="checkbox">
            <label>
                <input #rememberMe type="checkbox" value="" id="rememberMe"> {{'signin.form.rememberme' | translate}}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{'signin.form.button.submit' | translate}}</button>
        <div *ngIf="error" class="top-padding-xs bottom-margin-sm-neg">
            <div class="alert alert-danger">{{error | translate}}</div>
        </div>
        <div class="row top-padding-sm">
            <div class="col-md-4"><a [routerLink]="['/signup']">{{'signin.form.signup' | translate}}</a></div>
            <div class="col-md-8 text-right"><a [routerLink]="['/']" >{{'signin.form.forgotpassword' | translate}}</a></div>
        </div>
        <hr>
        <div class="bottom-padding-sm">
            <div class="fb-login-button" data-max-rows="1" data-width="300" data-size="large" data-button-type="continue_with"
                 data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
        <button class="btn btn-lg btn-default btn-block" type="submit">Connect with Google</button>
    </form>
</div>
