<div class="col-sm-3 col-md-2 sidebar">

    <ul class="nav nav-sidebar">
        <li>
            <div class="text-center top-margin-sm-neg">
                <img src="images/logo.png" alt="Logo">
            </div>
        </li>
        <li>
            <div class="text-center placeholder">
                <img src={{userpic}} width="100" height="100" class="img-responsive" alt="Profile pic">
            </div>
        </li>
        <li class="top-margin-base" [ngClass]="{active: isActive('home')}">
            <a [routerLink]="['/home']"><i class="fa fa-th-large fa-lg fa-fw"></i>&nbsp; {{'menuitem.overview' | translate}}
            </a>
        </li>
        <li [ngClass]="{active: isActive('workouts')}">
            <a [routerLink]="['/workouts']"><i class="fa fa-trophy fa-lg fa-fw"></i>&nbsp; {{'menuitem.workouts' | translate}}
            </a>
        </li>
        <li [ngClass]="{active: isActive('activities')}">
            <a [routerLink]="['/activities']"><i class="fa fa-bookmark fa-lg fa-fw"></i>&nbsp; {{'menuitem.activities' | translate}}
            </a>
        </li>
        <li [ngClass]="{active: isActive('history')}">
            <a [routerLink]="['/history']"><i class="fa fa-clock-o fa-lg fa-fw"></i>&nbsp; {{'menuitem.history' | translate}}
            </a>
        </li>
        <li [ngClass]="{active: isActive('body')}">
            <a [routerLink]="['/body']"><i class="fa fa-heartbeat fa-lg fa-fw"></i>&nbsp; {{'menuitem.mybody' | translate}}
            </a>
        </li>
        <li [ngClass]="{active: isActive('settings')}">
            <a [routerLink]="['/settings']"><i class="fa fa-cog fa-lg fa-fw"></i>&nbsp; {{'menuitem.settings' | translate}}
            </a>
        </li>
        <li [ngClass]="{active: isActive('help')}">
            <a [routerLink]="['/help']"><i class="fa fa-info fa-lg fa-fw"></i>&nbsp; {{'menuitem.help' | translate}}
            </a>
        </li>
        <li><a [routerLink]="['/login']" (click)="logout()">
            <i class="fa fa-sign-out fa-lg fa-fw"></i>&nbsp; {{'menuitem.logout' | translate}}
        </a></li>
    </ul>

</div>