<div class="container signin">

  <form class="form-signin" (submit)="signup($event, username.value, password.value, email.value, password2.value)">
    <div class="text-center">
      <img class="bottom-padding-sm" src="images/logo.png">
    </div>
    <div class="text-center">
      <h2 class="form-signin-heading">{{'signup.form.title' | translate}}</h2>
    </div>
    <div class="top-padding-xs">
      <input #username type="username" id="username" class="form-control" placeholder="{{'signup.form.username' | translate}}" required autofocus>
    </div>
    <div class="top-padding-xs">
      <input #email type="email" id="email" class="form-control" placeholder="{{'signup.form.email' | translate}}" required>
    </div>
    <div class="top-padding-xs">
      <input #password type="password" id="password" class="form-control" placeholder="{{'signup.form.password' | translate}}" required>
    </div>
    <div class="top-padding-xs bottom-padding-sm">
      <input #password2 type="password" id="password2" class="form-control" placeholder="{{'signup.form.password2' | translate}}" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{'signup.form.button.submit' | translate}}</button>
    <div *ngIf="error" class="top-padding-xs bottom-margin-sm-neg">
      <div class="alert alert-danger">{{error | translate}}</div>
    </div>
    <div class="top-padding-sm text-center">
      <h4><a [routerLink]="['/login']">{{'signup.form.login' | translate}}</a></h4>
    </div>
  </form>
</div>