/* ----------------------------------------------------------------
	General Styles
-----------------------------------------------------------------*/

body {
    background-color: @background-dark !important;
    font-family: 'Open Sans', sans-serif !important;
}

a {
    text-decoration: none !important;
}

/* ----------------------------------------------------------------
	Colors
-----------------------------------------------------------------*/
.red{
    color: red;
}
.green{
    color: green;
}

/* ----------------------------------------------------------------
	Padding
-----------------------------------------------------------------*/
.top-padding-xs {
    padding-top: 20px;
}
.top-padding-sm {
    padding-top: @margin-small;
}
.top-padding-base {
    padding-top: @margin-base;
}
.top-padding-lg {
    padding-top: @margin-big;
}
.bottom-padding-sm {
    padding-bottom: @margin-small;
}
.bottom-padding-base {
    padding-bottom: @margin-base;
}
.bottom-padding-lg {
    padding-bottom: @margin-big;
}
.left-padding-sm {
    padding-left: @margin-small;
}
.right-padding-sm {
    padding-right: @margin-small;
}

/* ----------------------------------------------------------------
	Margin
-----------------------------------------------------------------*/
.bottom-margin-sm-neg {
    margin-bottom: -25px;
}
.bottom-margin-micro {
    margin-bottom: @margin-micro;
}
.bottom-margin-sm {
    margin-bottom: @margin-small;
}
.bottom-margin-base {
    margin-bottom: @margin-base;
}
.bottom-margin-lg {
    margin-bottom: @margin-big;
}
.top-margin-sm-neg {
    margin-top: -25px;
}
.top-margin-micro {
    margin-top: @margin-micro;
}
.top-margin-sm {
    margin-top: @margin-small;
}
.top-margin-base {
    margin-top: @margin-base;
}
.top-margin-lg {
    margin-top: @margin-big;
}
.left-margin-sm {
    margin-left: @margin-small;
}
.left-margin-base {
    margin-left: @margin-base;
}
.left-margin-lg {
    margin-left: @margin-big;
}
.right-margin-micro {
    margin-right: @margin-micro;
}
.right-marging-micro-imp {
    margin-right: @margin-micro !important;
}
.right-margin-sm {
    margin-right: @margin-small;
}
.right-margin-base {
    margin-right: @margin-base;
}
.right-margin-lg {
    margin-right: @margin-big;
}
.icon-margin {
    margin-right: 10px;
}

/* ----------------------------------------------------------------
	Component NAV - MENU
-----------------------------------------------------------------*/
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        font-size: medium;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 30px !important;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/* ----------------------------------------------------------------
	Component Home
-----------------------------------------------------------------*/

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
    color: #286090;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}



/* ----------------------------------------------------------------
	Component Login
-----------------------------------------------------------------*/
.container .form-signin {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .form-signin-heading, .checkbox {
        margin-bottom: 10px;
    }

    .checkbox {
         font-weight: normal;
    }

    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

    .form-control:focus {
        z-index: 2;
    }
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* ----------------------------------------------------------------
	Component Workout
-----------------------------------------------------------------*/

.top-margin-workout{
    margin-top: 20px;
}

.top-margin-workout-img{
    margin-top: 10px;
}

.padding-workout{
    padding: 12px 30px
}


/* ----------------------------------------------------------------
	Component Not Found
-----------------------------------------------------------------*/
.not-found-bg{
    background: url("../images/notfound.jpg") no-repeat fixed center;
    color: #eeeeee;
    height: 100vh;
}

.error404-font { font-size: 160px; }


/* ----------------------------------------------------------------
	LOADING
-----------------------------------------------------------------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/* ----------------------------------------------------------------
	CARDS
-----------------------------------------------------------------*/
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox:after, .ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
    font-weight: bold;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}

.feed-element:first-child {
    margin-top: 0;
}

.feed-element, .feed-element .media {
    margin-top: 19px;
    padding-bottom: 19px;
}

/* ----------------------------------------------------------------
	OTHER
-----------------------------------------------------------------*/

.quote{
    font-size: xx-large;
}

.font-size-large{
    font-size: large;
}

.font-size-50{
    font-size: 50px;
}
.cursor-pointer{
    cursor: pointer;
}