/*-----------------------------------------------------------------------------------

	variables.less

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Base Colors
-----------------------------------------------------------------*/

@background-white:              #eee;
@background-dark:               #e1e1e1;
@background-menu:               #BB0A0A;
@body-color:                    #555;
@heading-color:                 #444;
@border-color:                  #ccc;


/* ----------------------------------------------------------------
	Line Height Variables
-----------------------------------------------------------------*/

@line-height-base:              1.5;
@line-height-content:           1.8;



/* ----------------------------------------------------------------
	Margins
-----------------------------------------------------------------*/

@margin-micro:                  10px;
@margin-small:                  30px;
@margin-base:                   50px;
@margin-big:                    80px;
@margin-mega:                   120px;



/* ----------------------------------------------------------------
	Font Families
-----------------------------------------------------------------*/

@body-font:                     'Lato', sans-serif;
@heading-font:                  'Raleway', sans-serif;
@secondary-font:                'Crete Round', serif;



/* ----------------------------------------------------------------
	Font Sizes
-----------------------------------------------------------------*/

@font-size-base:                14px;
@font-size-h1:                  36px;
@font-size-h2:                  30px;
@font-size-h3:                  24px;
@font-size-h4:                  18px;
@font-size-h5:                  @font-size-base;
@font-size-h6:                  12px;


/* ----------------------------------------------------------------
	Layouts
-----------------------------------------------------------------*/


@postcontent:                   860px;
@postcontent-margin:            40px;

@sidebar:                       1140px - (@postcontent + @postcontent-margin);
@bothsidebar:                   1140px - ( ( @sidebar * 2 ) + ( @postcontent-margin * 2 ) );


@postcontent-md:				690px;
@postcontent-margin-md:			40px;

@sidebar-md:					940px - (@postcontent-md + @postcontent-margin-md);
@bothsidebar-md:				940px - ( ( @sidebar-md * 2 ) + ( @postcontent-margin-md * 2 ) );


@section-padding:				60px;
@section-margin:				60px;
@section-bg:					#F9F9F9;


/* ----------------------------------------------------------------
	Top Bar
-----------------------------------------------------------------*/

@topbar-height:                 45px;
@topbar-line-height:            (@topbar-height - 1);


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/

@header-height:                 100px;

// Sticky Header
@sticky-header-height:          60px;


// Floating Header Offset
@header-floating-offset:        60px;


// Side Header
@side-header-width:             260px;
@side-header-bg:                #FFF;


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

@primary-menu-font:             	@heading-font;
@primary-menu-font-weight:      	bold;
@primary-menu-font-size:        	13px;
@primary-menu-font-tt:          	uppercase;
@primary-menu-font-color:       	#444;
@primary-menu-font-spacing:     	1px;


// Primary Menu Sub Menu
@primary-menu-submenu-width:            220px;
@primary-menu-submenu-font:             @body-font;
@primary-menu-submenu-font-size:        12px;
@primary-menu-submenu-font-weight:      600;


// Primary Mega menu
@mega-menu-title:               @heading-font;



/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


@page-title-padding:					50px;
@page-title-parallax-padding:			100px;
@page-title-mini-padding:				20px;

@page-title-bg:							#F5F5F5;
@page-title-bg-dark:					#333;

@page-title-size:						28px;
@page-title-subtitle-size:				18px;

@page-title-parallax-size:				40px;
@page-title-parallax-subtitle-size:		22px;

@page-title-mini-size:					18px;

