<nav-component></nav-component>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <!--Top header-->
    <div class="pull-right" [hidden]="activities.length==0">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createWorkoutModal" (click)="clean()" >{{'workout.form.button.create' | translate}}</button>
    </div>
    <h1 class="page-header"><i class="fa fa-trophy fa-lg fa-fw icon-margin"></i>{{'menuitem.workouts' | translate}}</h1>


    <!--Page content-->
    <div class="top-margin-sm row">

        <section [hidden]="activities.length!=0" class="text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{'workout.msg.createactivity.title' | translate}}</h1>
                <p class="lead text-muted">{{'workout.msg.createactivity.content' | translate}}</p>
            </div>
        </section>

        <div class="padding-workout" *ngFor="let workout of workouts">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="top-margin-workout pull-right">
                        <a><i class="fa fa-info-circle fa-lg fa-fw icon-margin cursor-pointer"></i></a>
                        <a data-toggle="modal" data-target="#createWorkoutModal" (click)="getWorkout(workout.id)"><i class="fa fa-pencil fa-lg fa-fw icon-margin cursor-pointer"></i></a>
                        <a data-toggle="modal" data-target="#deleteWorkoutModal" (click)="setWorkoutID(workout.id)"><i class="fa fa-trash fa-lg fa-fw icon-margin cursor-pointer"></i></a>
                    </div>
                    <div class="top-margin-workout-img pull-left">
                        <img class="img-circle right-margin-micro" src="images/activity.png" width="40px">
                    </div>
                    <h3>{{workout.name}}</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3>{{'workout.modal.difficulty' | translate}}</h3>
                            <h4>{{'workout.modal.difficult.'+workout.difficulty | translate}}</h4>
                        </div>
                        <div class="col-sm-5">
                            <h3>{{'workout.modal.description' | translate}}</h3>
                            <p>{{workout.description}}</p>
                        </div>
                        <div class="col-sm-3">
                            <h3>{{'workout.modal.duration' | translate}}</h3>
                            <h4>{{workout.duration}} {{workout.durationUom}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Create/Update Modal -->
    <div class="modal fade" role="dialog" id="createWorkoutModal" #createWorkoutModal>
        <form class="modal-dialog" #workoutForm="ngForm">

            <!-- Modal content-->
            <div class="modal-content right-padding-sm left-padding-sm" [hidden]="hideModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{'workout.form.button.'+modalTitle | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger fade in" [hidden]="error.length==0">
                        {{error | translate}}
                    </div>
                    <div class="form-group">
                        <label for="name">{{'workout.modal.name' | translate}}</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="{{'workout.modal.name' | translate}}" required [(ngModel)]="model.name">
                    </div>
                    <div class="form-group">
                        <label for="description">{{'workout.modal.description' | translate}}</label>
                        <textarea rows="3" class="form-control" id="description" name="description" placeholder="{{'workout.modal.description' | translate}}" required [(ngModel)]="model.description"></textarea>
                    </div>
                    <div class="form-group"><!--difficulty list -->
                        <label for="difficulties">{{'workout.modal.difficulty' | translate}}</label>
                        <select class="form-control" id="difficulties" name="difficulties" required [(ngModel)]="model.difficulty">
                            <option *ngFor="let difficult of difficulties" [value]="difficult">{{'workout.modal.difficult.'+difficult | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group"><!--activities list -->
                        <label for="activities">{{'workout.modal.activities' | translate}}</label>
                        <select multiple class="form-control" id="activities" name="activities" size="5" [(ngModel)]="model.activities" required>
                            <option *ngFor="let act of activities" [value]="act">{{act}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="createWorkout()" [disabled]="workoutForm.invalid">{{'general.form.button.'+modalTitle | translate}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'general.form.button.cancel' | translate}}</button>
                </div>
            </div>

            <div class="alert alert-success fade in" [hidden]="!success">
                {{'workout.msg.'+alertMsg | translate}}
            </div>

        </form>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" role="dialog" id="deleteWorkoutModal" #deleteWorkoutModal>
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{'workout.modal.delete.confirmation' | translate}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteWorkout()">{{'general.yes' | translate}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'general.form.button.cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

</div>