<nav-component></nav-component>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header"><i class="fa fa-th-large fa-lg fa-fw icon-margin"></i>{{'menuitem.overview' | translate}}</h1>

    <div class="top-margin-sm row">

      <div class="col-lg-9">
        <div class="ibox">
          <div class="ibox-title">
            <h3>About workoutwise</h3>
          </div>
          <div class="ibox-content">
            <p class="no-margins font-size-large">This app is an extraordinary effort made by enthusiastic guy. The main purpose is to learn Angular 4.
              However, the idea is to have the whole suite of services needed nowadays for a succesful application. That is to have a backend in Java,
              front end in angular and of course, the mobile applications on Android and IOS.
            </p>
          </div>
        </div>
      </div>

      <!--First row-->
      <div class="col-lg-5">
        <div class="ibox">
          <div class="ibox-title">
            <span class="label label-success pull-right">Activity</span>
            <h3>Latest activity</h3>
          </div>
          <div class="ibox-content">

            <div class="feed-activity-list">

              <div class="feed-element" *ngFor='let historyAct of model.historyActivities'>
                <div class="pull-left">
                  <img class="img-circle right-margin-micro" src="images/activity.png" width="40px">
                </div>
                <div class="media-body">
                  <small class="pull-right"><i class="fa fa-check fa-lg fa-fw green"></i></small>
                  <strong>{{historyAct.name}}</strong> <br>
                  <small class="text-muted">Started: {{historyAct.startDate | date: 'dd MMM yyyy HH:mm:ss'}}
                      &nbsp; &nbsp; Finished: {{historyAct.finishDate | date: 'dd MMM yyyy HH:mm:ss'}}
                  </small>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="ibox">
          <div class="ibox-title">
            <span class="label label-success pull-right">Activity</span>
            <h3>Total activities</h3>
          </div>
          <div class="ibox-content text-center">
            <h1 class="no-margins">{{model.totalActivities}}</h1>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="ibox">
          <div class="ibox-title">
            <span class="label label-success pull-right">Workout</span>
            <h3>Total workouts</h3>
          </div>
          <div class="ibox-content text-center">
            <h1 class="no-margins">{{model.totalWorkouts}}</h1>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="ibox">
          <div class="ibox-title">
            <span class="label label-success pull-right">Body</span>
            <h3>My Body</h3>
          </div>
          <div class="ibox-content">
            <div class="row text-center">
              <div class="col-md-6">
                <h1 class="no-margins">{{model.height}} cm</h1><small>Height</small>
              </div>
              <div class="col-md-6">
                <h1 class="no-margins">{{model.weight}} kg</h1><small>Weight</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Second row-->
      <!--<div class="col-lg-4">-->
        <!--<div class="ibox">-->
          <!--<div class="ibox-title">-->
            <!--<span class="label label-success pull-right">Activity</span>-->
            <!--<h3>Stats</h3>-->
          <!--</div>-->
          <!--<div class="ibox-content">-->
            <!--<h1 class="no-margins"></h1>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class="col-lg-9">
        <div class="ibox">
          <div class="ibox-title">
            <span class="quote pull-right"><i class="fa fa-quote-right fa-lg fa-fw"></i></span>
            <h3>Phrase of the day</h3>
          </div>
          <div class="ibox-content">
            <h3 class="no-margins">{{model.phrase}}</h3>
          </div>
        </div>
      </div>

    </div>

</div>

