<nav-component></nav-component>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"><i class="fa fa-cog fa-lg fa-fw icon-margin"></i>{{'menuitem.settings' | translate}}</h1>

    <div class="top-margin-lg row">

    </div>

</div>